{% load static %}
<link rel="stylesheet" href="{% static "book-review.css" %}">

<!doctype html>
<html>
  <head>
    <title>Create a Book Review</title>
    <link rel="stylesheet" href="book-review.css">
  </head>
  <body>
      <header>
        <div>My Book Reviews</div>
        <nav>
            <a href="{% url "reviews_list" %}">Back to List</a>
        </nav>
      </header>
      <main>
          <div>
            <form method="post"></form>
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Submit</button>
                </div>
            </form>
          </div>
      </main>
      <footer>
        <div>Copyright 2022 by Brandon Dix</div>
        <p>This is my website that gives book reviews on books I have read.</p>
      </footer>
  </body>
</html>