html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 24px;
    padding: 12px;
}

footer {
    display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    display: grid;
        grid-template-columns: auto 1fr;
        grid-row-end: span 5;
    background-color: white;
    border: 1px solid blue;
    padding: 24px;
}

.book-cover {
    display: grid;
        grid-row-end: span 5;
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}

input {
    max-width: 800px;
    margin: auto;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}